<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>BURGERS!</title>
  </head>
  <body>
    {{{ body }}}
  </body>

<!--Javascript-->
    <script type="text/javascript" src="/assets/js/burgerfall.js"></script>
<!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

</HTML>
